<label for="salutation">
	<f:translate key="tx_phzhresregistration_domain_model_registration.salutation" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="salutation" /><br />
<label for="lastname">
	<f:translate key="tx_phzhresregistration_domain_model_registration.lastname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="firstname">
	<f:translate key="tx_phzhresregistration_domain_model_registration.firstname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="address1">
	<f:translate key="tx_phzhresregistration_domain_model_registration.address1" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address1" /><br />
<label for="address2">
	<f:translate key="tx_phzhresregistration_domain_model_registration.address2" />
</label><br />
	<f:form.textfield property="address2" /><br />
<label for="zip">
	<f:translate key="tx_phzhresregistration_domain_model_registration.zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_phzhresregistration_domain_model_registration.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="country">
	<f:translate key="tx_phzhresregistration_domain_model_registration.country" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="country" /><br />
<label for="company">
	<f:translate key="tx_phzhresregistration_domain_model_registration.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="phone">
	<f:translate key="tx_phzhresregistration_domain_model_registration.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="email">
	<f:translate key="tx_phzhresregistration_domain_model_registration.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="comment">
	<f:translate key="tx_phzhresregistration_domain_model_registration.comment" />
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />
<label for="paid">
	<f:translate key="tx_phzhresregistration_domain_model_registration.paid" />
</label><br />
	<f:form.checkbox property="paid" value="1" /><br />
<label for="assignmentSent">
	<f:translate key="tx_phzhresregistration_domain_model_registration.assignment_sent" />
</label><br />
	<f:form.checkbox property="assignmentSent" value="1" /><br />