<table class="tx-phz-hresregistration" >
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.salutation" />
		</td>
		<td>
			{registration.salutation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.lastname" />
		</td>
		<td>
			{registration.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.firstname" />
		</td>
		<td>
			{registration.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.address1" />
		</td>
		<td>
			{registration.address1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.address2" />
		</td>
		<td>
			{registration.address2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.zip" />
		</td>
		<td>
			{registration.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.city" />
		</td>
		<td>
			{registration.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.country" />
		</td>
		<td>
			{registration.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.company" />
		</td>
		<td>
			{registration.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.phone" />
		</td>
		<td>
			{registration.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.email" />
		</td>
		<td>
			{registration.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.comment" />
		</td>
		<td>
			{registration.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.paid" />
		</td>
		<td>
			{registration.paid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_registration.assignment_sent" />
		</td>
		<td>
			{registration.assignmentSent}
		</td>
	</tr>
</table>