<table class="tx-phz-hresregistration" >
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_workshop.datetime" />
		</td>
		<td>
			{workshop.datetime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_workshop.title" />
		</td>
		<td>
			{workshop.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_workshop.description" />
		</td>
		<td>
			{workshop.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_workshop.speaker" />
		</td>
		<td>
			{workshop.speaker}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_workshop.tooltip" />
		</td>
		<td>
			{workshop.tooltip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_phzhresregistration_domain_model_workshop.capacity" />
		</td>
		<td>
			{workshop.capacity}
		</td>
	</tr>
</table>